@{
    Page.Title = "My personal Blog Page";
}

<p>
    Welcome to the personal site template! To get started, click any of the 
    menu items for additional setup instructions. This is the default page.
</p>